<?xml version="1.0"?>

<launch>

  <!-- Launch hector slam -->
  <include file="$(find me5413_world)/launch/include/hector.launch" />
  
  <!-- Launch the AMCL Localizer -->
  <include file="$(find me5413_world)/src/launch/include/amcl.launch" />

  <!-- Launch Move Base -->
  <include file="$(find me5413_world)/src/launch/include/move_base.launch" />

  <!-- Launch Rviz with our settings -->
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find me5413_world)/rviz/hector_rviz.rviz" output="log" respawn="true"/>

</launch>
